body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.navbar-link a
{
    text-decoration: none;
    color:black;
    
}
.navbar-link li
{
    display: inline;
    padding: 15px;
    
}
.dropdown-menu a
{
    color: blue;
    
}
